.home-page-text {
    display: flex;
    width: 830px;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
    padding-left: 50px;
}

#home-page-title {
    width: 800px;
    margin: 3px;
    padding: 8px;
    font-size: 150px;
    color: #F0F2F2
}

#home-page-subtitle-1 {
    width: 750px;
    margin: 3px;
    padding: 5px 20px;
    font-size: 25px;
    color: #D0D4D7
}

#home-page-subtitle-2 {
    width: 750px;
    margin: 3px;
    padding: 5px 20px;
    font-size: 25px;
    color: #D0D4D7
}