.top-side-nav {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

#topnav {
    background-color: beige;
    width: 100%;
    text-align: center;
}

.dropbtn {
    background-color: lightblue;
    padding: 30px 95px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0
}

#title {
    text-align: center;
    padding: 30px 115px
}

#title a {
    padding: 30px 115px;
    background-color: lightgreen;
}

#sidenav-links {
    background-color: darkslateblue;
    position: absolute;
    width: 275px;
    left: 0;
    top: 80px
}

#sidenav-links ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

#sidenav-links li {
    padding: 10px
}

#sidenav-links a {
    background-color: darkorchid;
    padding: 10px 60px;
    display: inline-block
}

.home-page-text {
    display: flex;
    width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -500px
}

#home-page-title {
    width: 750px;
    border: 3px solid black;
    margin: 3px;
    padding: 30px
}

#home-page-subtitle-1 {
    width: 750px;
    border: 3px solid black;
    margin: 3px;
    padding: 15px
}

#home-page-subtitle-2 {
    width: 750px;
    border: 3px solid black;
    margin: 3px;
    padding: 15px
}